<div class="parcerois">
  <h2>nossos parceiros.</h2>
  <div class="parceios-imgs">
    <div class="upper">
      <div class="comman">
        <img src="assets/images/Vector (7).png" />
      </div>
      <div class="comman">
        <img src="assets/images/surfbot.png" />
      </div>
    </div>
    <div class="lower">
      <div class="comman">
        <img src="assets/images/caravan.png" />
      </div>
      <div class="comman">
        <img src="assets/images/wildbeast.png" />
      </div>
    </div>

    <div class="right">
      <div class="comman">
        <img src="assets/images/dogs.png" />
      </div>
      <div class="comman">
        <img src="assets/images/flexblog.png" />
      </div>
    </div>

    <div class="left">
      <div class="comman">
        <img src="assets/images/handel.png" />
      </div>
      <div class="comman">
        <img src="assets/images/lescone.png" />
      </div>
    </div>
  </div>
</div>
