<div class="segurous">

    <div class="segurous-h2">
        <h2>seguros.</h2>
    </div>

  <div class="segurous-child">
    <div class="prata">
      <div class="prata-content">
    <span>PRATA</span>
        <h2>R$ 199</h2>
      </div>
      <div class="prata-points">
        <img src="assets/images/Vector 1.png" />
        <p>Duas trocas por ano</p>
      </div>
      <div class="prata-points">
        <img src="assets/images/Vector 1.png" />
        <p>Assistência técnica</p>
      </div>
      <div class="prata-points">
        <img src="assets/images/Vector 1.png" />
        <p>Suporte 08h às 18h</p>
      </div>
      <div class="prata-points">
        <img src="assets/images/Vector 1.png" />
        <p>Cobertura estatual</p>
      </div>
      <div class="prata-points-button">
        <button type="button">INSCREVA-SE</button>
      </div>
    </div>

    <div class="oura">
        <div class="oura-content">
        <span> OURA</span>
          <h2>R$ 299</h2>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Cinco trocas por ano</p>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Assistência especial</p>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Suporte 24h</p>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Cobertura nacional</p>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Descontos em parceiros</p>
        </div>
        <div class="oura-points">
          <img src="assets/images/Vector 1.png" />
          <p>Acesso ao Clube Bikecraft</p>
        </div>
        <div class="oura-points-button">
            <button type="button">INSCREVA-SE</button>
        </div>
  
  
    </div>


  </div>


 
</div>
