<div class="bicycle">
  <div class="bicycle-child">
    <p>ESCOLHA A MELHORA PARA VOCÊ</p>
    <h2>nossas bicicletas.</h2>
  </div>
</div>

<div class="bycycle-01">
  <div class="bicic-img">
    <img src="assets/images/bicicleta1 (1).png" />
  </div>

  <div class="bicic-content">
    <h2>Nimbus Stark</h2>
    <p>
      A Nimbus Stark é a melhor Bikcraft já criada pela nossa equipe. Ela vem
      equipada com os melhores acessórios, o que garante maior velocidade.
    </p>

    <div class="bicic-rides">
      <img src="assets/images/Vector (6).png" />
      <p>Motor Elétrico</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/Vector (9).png" />
      <p>Fibra de Carbono</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/velocidade.png" />
      <p>40km/h</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/rastreador.png" />
      <p>Rastreador</p>
    </div>
  </div>

  <div class="bicic-button">
    <img src="assets/images/dec.png" />

    <button type="button">MAIS SOBRE</button>
  </div>
</div>








<div class="main">
    <div class="background">
    </div>
    <div class="bycycle-01">
        <div class="bicic-img">
          <img src="assets/images/Group 4.png" />
        </div>
      
        <div class="bicic-content">
          <h2 style="color: white;">Nimbus Stark</h2>
          <p style="color: white;">
            A Nimbus Stark é a melhor Bikcraft já criada pela nossa equipe. Ela vem
            equipada com os melhores acessórios, o que garante maior velocidade.
          </p>
      
          <div class="bicic-rides">
            <img src="assets/images/Vector (6).png" />
            <p style="color: white;">Motor Elétrico</p>
          </div>
          <div class="bicic-rides">
            <img src="assets/images/Vector (9).png" />
            <p style="color: white;"> Fibra de Carbono</p>
          </div>
          <div class="bicic-rides">
            <img src="assets/images/velocidade.png" />
            <p style="color: white;">40km/h</p>
          </div>
          <div class="bicic-rides">
            <img src="assets/images/rastreador.png" />
            <p style="color: white;">Rastreador</p>
          </div>
        </div>
      
        <div class="bicic-button">
          <img src="assets/images/dec.png" />
      
          <button type="button">MAIS SOBRE</button>
        </div>
      </div>

</div>












<div class="bycycle-01">
  <div class="bicic-img">
    <img src="assets/images/bicicleta3 (1).png" />
  </div>

  <div class="bicic-content">
    <h2>Mebula Cosmic</h2>
    <p>
      A Mebula Cosmic é a melhor Bikcraft já criada pela nossa equipe. Ela vem
      equipada com os melhores acessórios, o que garante maior velocidade.
    </p>

    <div class="bicic-rides">
      <img src="assets/images/Vector (6).png" />
      <p>Motor Elétrico</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/Vector (9).png" />
      <p>Fibra de Carbono</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/velocidade.png" />
      <p>40km/h</p>
    </div>
    <div class="bicic-rides">
      <img src="assets/images/rastreador.png" />
      <p>Rastreador</p>
    </div>
  </div>

  <div class="bicic-button">
    <img src="assets/images/dec.png" />

    <button type="button">MAIS SOBRE</button>
  </div>
</div>
