<app-seguros></app-seguros>

<div class="nossas-container">
    <div class="nossas">
      <h2>nossas vantagens.</h2>
      <div class="nossas-vantagens">
        <div class="nossas-cards">
          <div class="nossas-card">
            <img src="assets/images/Vector (8).png" />
            <p class="nossas-p">Reparo Elétrico</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
  
          <div class="nossas-card">
            <img src="assets/images/Vector (9).png" />
            <p class="nossas-p">Reparo de Quadro</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
  
          <div class="nossas-card">
            <img src="assets/images/velocidade.png" />
            <p class="nossas-p">Sustentável</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
  
          <div class="nossas-card">
            <img src="assets/images/Vector (8).png" />
            <p class="nossas-p">Recuperação</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
  
          <div class="nossas-card">
            <img src="assets/images/Vector (9).png" />
            <p class="nossas-p">Segurança</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
  
          <div class="nossas-card">
            <img src="assets/images/velocidade.png" />
            <p class="nossas-p">Rapidez</p>
            <p class="nossas-paragraph">
              Garantimos o reparo competo do seu motor em caso de falhas. Sabemos
              que falhas são raras, mas estamos aqui caso ocorra.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  