<div class="container">
  <div class="contacto-container">
    <div class="contacto">
      <h3>RESPOTAS EM ATE 24H</h3>
      <h2>nossas contacto</h2>

      <div class="contact-bg">
        <div class="ng-address">
          <div class="ng-form-child">
            <p><b>Loja Online</b></p>
            <div class="location">
              <img src="assets/images/local.png" />
              <p>
                Rua Ali Perto, 35 Rio de Janeiro - RJ Brasil - Terra - Vila
                Láctea
              </p>
            </div>

            <div class="location">
              <img src="assets/images/email.png" />
              <p>vendas1810.com assistencia1810.com</p>
            </div>

            <div class="location">
              <img src="assets/images/telefone.png" />
              <p>+55 22 99999-9999</p>
            </div>

            <div class="contact-social">
              <a href="#"><img src="assets/images/instagram.png" /></a>
              <a href="#"> <img src="assets/images/youtube.png" /></a>
              <a href="#"> <img src="assets/images/facebook (1).png" /></a>
            </div>
          </div>

          .
        </div>

        <div class="ng-form">
          <div class="ng-form-add">
            <div class="form-row">
              <div class="form-name form">
                <label for="name"> Name</label>
                <input type="text" placeholder="Seu Name" />
              </div>
              <div class="form-telephone form">
                <label for="text"> Telefone</label>
                <input type="text" placeholder="(22)99999-9999" />
              </div>
            </div>
            <div class="form-email form">
              <label for="email">Email</label>
              <input type="email" placeholder="contact@email.com" />
            </div>

            <div class="form-message form">
              <label for="message">Mensagem</label>
              <textarea></textarea>
            </div>

            <div class="form-button">
              <button type="button">ENVIAR MENSAGEM</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loja-locais">
    <div class="loja-locais-child">
      <h2>loja locais.</h2>
      <div class="loja-locais-box">
        <div class="loja-locais-cards">
          <div class="loja-locais-card">
            <img src="assets/images/rio.png" />
          </div>
          <div class="content">
            <div class="rio-da content-padding">
              <div class="square"></div>
              <h3>Rio de Janeiro</h3>
            </div>

            <div class="rua-ali-content">
              <div class="rua-ali-name border-left">
                <p>Rua Ali Perto, 25</p>
                <p>Rio de Janeiro - RJ</p>
              </div>
              <div class="rua-ali-email border-left">

                <p>riobikcraft.com </p>
                <p>21 99999-9999</p>
              </div>
            </div>

            <div class="rio-da content-padding">
              <img src="assets/images/horario.png" />
              <h4>08-18h seg à dom</h4>
            </div>
          </div>
        </div>
        <div class="loja-locais-cards">
            <div class="loja-locais-card">
              <img src="assets/images/sp.png" />
            </div>
            <div class="content">
              <div class="rio-da content-padding">
                <div class="square"></div>
                <h3>São Paulo</h3>
              </div>
  
              <div class="rua-ali-content">
                <div class="rua-ali-name border-left">
                  <p>Rua Ali Perto, 25</p>
                  <p>Sao de Janeiro - RJ</p>
                </div>
                <div class="rua-ali-email border-left">
  
                  <p>spbikcraft.com </p>
                  <p>21 99999-9999</p>
                </div>
              </div>
  
              <div class="rio-da content-padding">
                <img src="assets/images/horario.png" />
                <h4>08-18h seg à dom</h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
