<div class="differnciate">
  <div class="differ-child">
    <div class="diffenciate-content">
      <h3> TECNOLOGIA AVANCADAR</h3>
      <h2>Você escolhe as suas cores e componentes.</h2>
      <p>
        Cada Bikcraft é única e possui a sua identidade. As medidas serão exatas
        para o seu corpo e altura, garantindo maior conforto e ergonomia na sua
        pedalada. Você pode também personalizar completamente as suas cores.
      </p>
      <span
        ><u><b>ESCOLHA UM MODELO </b></u></span
      >

      <div class="characteristic">
        <div class="character">
          <img src="assets/images/Vector (6).png" />
          <h3>Motor Elétrico</h3>
          <p>
            Toda Bikcraft é equipada com um motor elétrico que possui duração de
            até 120h. A bateria é recarregada com a sua energia gasta ao
            pedalar.
          </p>
        </div>

        <div class="character">
          <img src="assets/images/rastreador.png" />
          <h3>Rastreador</h3>
          <p>
            Sabemos o quão preciosa é a sua Bikcraft, por isso adicionamos
            rastreadores e sistemas anti-furto para garantir o seu sossego.
          </p>
        </div>
      </div>
    </div>
    <div class="differenciate-img">
      <img src="assets/images/diferencial (1).png" />
    </div>
  </div>
</div>
