<div class="introduction">
    <div class="child-intro">
      <div class="home-left">
        <h1>bicicletas feitas sob medida.</h1>
        <p>
          Bicicletas elétricas de alta precisão e qualidade, feitas sob medida
          para o cliente. Explore o mundo na sua velocidade com a Bikcraft.
        </p>
        <button type="button">Selecione a sua</button>
      </div>
      <div class="home-right">
        <img src="assets/images/img-intro.png" alt="" />
      </div>
    </div>
  </div>