<div class="footer">
  <div class="footer-img">
    <img src="../../../assets/images/Vector (5).png" alt="" />
  </div>

  <div class="contacto">
    <p><b>CONTACTO</b></p>
    <ul>
      <li><a> +55 22 99999-9999 </a></li>
      <li><a> contact.com </a></li>
      <li><a> Rua Ali Perto, 42 - Botafogo </a></li>
      <li><a> Rio de Janeiro - RJ </a></li>
    </ul>
  </div>

  <div class="informs">
    <p><b>INFORMACOES</b></p>
    <ul>
      <li><a> Bicicletas </a></li>
      <li><a> Seguros </a></li>
      <li><a> Contato </a></li>
      <li><a> Termos e Condições </a></li>
    </ul>
  </div>
</div>









