
<div class="biciclets">
    <h2><b>ESCOLHA A SUA.</b></h2>
    <div class="biciclets-flex">
      <div class="cycle-one">
        <img src="assets/images/bicicleta2.png" />
        <h3>MAGIC MiGTH</h3>
        <p>R$ 2499</p>
      </div>
  
      <div class="cycle-one">
        <img src="assets/images/bicicleta1.png" />
        <h3>Nimbus Stark</h3>
        <p>R$ 4909</p>
      </div>
  
      <div class="cycle-one">
        <img src="assets/images/bicicleta3.png" />
        <h3>Nebula Cosmic</h3>
        <p>R$ 3999</p>
      </div>
    </div>
  </div>