<div class="biciclets">
  <h2 class="biciclets-h2"><b> escolha a sual<span class="dot-color">.</span></b></h2>
  <div class="biciclets-flex">
    <div class="cycle-one">
      <img src="assets/images/bicicleta2.png" />
      <div class="magic-h3">
        <div class="yellow-box"></div>
        <div class="magic-heading">
          <h3 class="font-poppins">Magic Might</h3>
        </div>
      </div>
      <p class="m-0">R$ 2499</p>
    </div>

    <div class="cycle-one">
      <img src="assets/images/bicicleta1.png" />
      <div class="magic-h3">
        <div class="yellow-box"></div>
        <div class="magic-heading">
          <h3 class="font-poppins">Nimbus Stark</h3>
        </div>
      </div>
      <p class="m-0">R$ 4909</p>
    </div>

    <div class="cycle-one">
      <img src="assets/images/bicicleta3.png" />
      <div class="magic-h3">
        <div class="yellow-box"></div>
        <div class="magic-heading">
          <h3 class="font-poppins">Nebula Cosmic</h3>
        </div>
      </div>
      <p class="m-0">R$ 3999</p>
    </div>
  </div>
</div>
